.about-section-wrap{
    scroll-snap-type: y mandatory;
    overflow: scroll;

    height: 100vh;
}

.about-section{
    scroll-snap-align: start;
    position: relative;
    // background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .7);
    background-blend-mode: lighten;

    height: 100vh;

    display: flex;
    align-items: center;

    &#first{
         .about-inner {
            @include md {
                text-align: start;
            }
        }
    }

    &#second{
         .about-inner {
            @include md {
                text-align: center;
            }
        }
    }

    &#third{
        background-color: rgba(255, 255, 255, .2);
        color: #fff;

         .about-inner {
            @include md {
                text-align: start;
            }
        }
    }
}

.about-inner {
    @include sx {
        text-align: center;
    }
}

.brand-heading{
    font-size: 72px;
    font-family: 'madre-script', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.intro-text{
    font-size: 18px;
}

.section-arrow{
    position: absolute;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.about-section-arrow {
    border: 3px solid #333;
    border-top: none;
    border-left: none;
    bottom: 5%;
    animation:  about-fadeIn 2s ease 1s infinite normal backwards;
}

@keyframes about-fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, -25%) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, 0%) rotate(45deg);
    }
}
