.service-section{

}

.service-container-wrap{
    @include sx {
        &:not(:first-of-type), &:not(:last-of-type){
             .service-items{
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
    }

    @include md {
        &:not(:first-of-type), &:not(:last-of-type){
             .service-items{
                padding-top: 2.5rem;
                padding-bottom: 2.5rem;
            }
        }
    }

    @include lg {
        &:not(:first-of-type), &:not(:last-of-type){
             .service-items{
                padding-top: 5rem;
                padding-bottom: 10rem;
            }
        }
    }

    &:first-of-type {
        .service-items{
           padding-top: 7.5rem;
       }
    }
    &:last-of-type {
        .service-items{
           padding-bottom: 7.5rem;
       }
    }
}

.service-item-head-wrap{
    @include sx {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    @include lg {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.service-item-head{
    font-family: 'rhythm-one', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.service-item-body{
    margin-top: 100px;

    @include sx {
        margin-top: 30px;
    }

    @include md {
        margin-top: 50px;
    }
}

.service-items{

}

.service-item{
    @include sx {
        &:nth-child(n){
            margin-top: 0px;
        }

        &:nth-child(n+2){
            margin-top: 20px;
        }
    }

    @include md {
        &:nth-child(n){
            margin-top: 0px;
        }

        &:nth-child(n+3){
            margin-top: 30px;
        }
    }

    @include lg {
        &:nth-child(n){
            margin-top: 0px;
        }

        &:nth-child(n+5){
            margin-top: 50px;
        }
    }
}


.service-gradation {
    height: 200px;
    width: 100%;
    position: relative;

    @include sx {
        height: 100px;
    }

    &.is-odd{
        background-image: linear-gradient(180deg, rgba(29, 128, 159, 1), rgba(25, 135, 84, 1));
    }

    &.is-even{
        background-image: linear-gradient(180deg, rgba(25, 135, 84, 1), rgba(29, 128, 159, 1));
    }
}

.service-section-arrow {
    border: 3px solid #fff;
    border-top: none;
    border-left: none;
    bottom: 80%;
    animation:  service-fadeIn 2s ease 1s infinite normal backwards;
}

@keyframes service-fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -25%) rotate(45deg);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, 0%) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, 25%) rotate(45deg);
    }
}
