.top-contents{
    background-image: url(/storage/images/nasa-yZygONrUBe8-unsplash.jpg) !important;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
    background-blend-mode: lighten !important;

    min-height: 100vh !important;
}

.top-name {
    font-family: 'lust-sans', sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.text-sm-left{
    @include sx {
        text-align: left;
    }

    @include md {
        text-align: center;
    }
}
